@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton";
  font-weight: 200;
}
main {
  width: 100%;
  height: 100vh;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: slategray;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 550px;
  height: 250px;
}
.container h1 {
  font-size: 4em;
  color: rgba(234, 227, 227, 0.811);
  cursor: pointer;
}
.btn {
  margin: 5px;
  padding: 10px 10px;
  transition: 0.5s;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.5em;
}
.btn:hover {
  background-color: rgb(46, 37, 37);
  color: #fff;
}
#value{
font-size: 10em;
}
